@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px 0;
}

.p5 {
    padding: 5px;
}

.mb5{
    margin-bottom: 5px;
}

.mb20{
    margin-bottom: 20px;
}

.bg-blue {
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-orange {
    background-color: orange;
}

.bg-darkgreen{
    background-color: rgb(28, 37, 12);
}

.bg-maroon{
    background-color: maroon;
}

.bg-lightgreen{
    background-color: #C8E6C9;
}

.bg-menu {
    background-color: #0d6efd;
}

.bg-white{
    background-color: #fff;
}

.color-white {
    color: #fff;
}

.color-menu{
    color: #0d6efd
}

.color-green{
    color: green;
}

.color-black{
    color: black;
}

nav .row {
    height: 80px;
}

nav img{
    width: 142px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    text-align: end;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.conteudo{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.conteudo small {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
}

.conteudo img{
    width: 100%;
}

.conteudo p {
    padding: 15px;
    color: #0d6efd;
}

.conteudo .link {
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 0.1em #0d6efd;
}

.conteudo .link a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #0d6efd;
    opacity: 0.7;
}

.card {
    box-shadow: 0 0 0.1em #0d6efd;
}

#primeira{
    height: 250px;
    background: url(../img/reuniao.jpg) center;
    background-size: cover;
}

#segunda{
    height: 250px;
    background: url(../img/cultura.png) center;
    background-size: cover;
}

#terceira{
    height: 250px;
    background: url(../img/esporte.jpg) center;
    background-size: cover;
}

#quarta{
    height: 376px;
    background: url(../img/publicidade.jpg) center;
    background-size: cover;
}

.publicacoes a{
    text-decoration: none;
}

.publicacoes h1{
    padding: 20px;
}

.publicacoes h3{
    padding-bottom: 20px;
}

.publicacoes div{
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 0.2em black;
    border: none;
}

.publicacoes p {
    text-transform: uppercase;
    line-height: 2em;
}

footer {
    color: #fff;
    padding: 20px 0;
}

footer div {
    text-align: center;
}

footer img {
    width: 142px;
}

footer p{
    line-height: 2em;
}

footer a{
    display: inline;
    text-decoration: none;
    color: #fff;
}