main{
    min-height: 70vh;
}

p{
    padding: 5px;
    line-height: 1.3em;
}

img{
    float: left;
    width: 450px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}

@media (max-width: 768px)
{
    img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

